.falcon9{
    border: 1px solid blueviolet;
    border-radius: 10px;
    background-color: rgba(137, 43, 226, 0.15);
    margin: 10px;
    padding: 5px;
}
span{
    font-style: italic;
}
.falconvariant{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(87, 215, 95, 0.15);
    border: 1px solid green;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}
img{
    width: 70%;
    height: 70%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
.startsandfinish{
    width: 300px;
    height: 150px;
    background-color: rgb(234, 234, 234) ;
    overflow: auto;
    margin: 10px;
    padding: 5px;
    color: rgb(28, 28, 100);
}